 # Node
/node_modules
/frontend/node_modules
/frontend/dist
npm-debug.log
yarn-error.log
corepack
node.exe
npm
npx
npm.cmd
npx.cmd
npm.ps1
npx.ps1

# Vite/React build
/frontend/dist
/frontend/.env.local

# Gradle / Java
/build
/.gradle
/backend/build
/backend/gradlew
/backend/gradlew.bat
**/out/
*.class
*.jar

# IDEs & OS
.idea
.vscode
*.iml
.DS_Store
Thumbs.db

# Local application properties
**/application-local.properties
/backend/bin/

# Logs
*.log
